@import "tailwindcss";
@plugin 'daisyui' {
  themes: dark --default;
}

:root {
  --color-primary: hsl(88, 100%, 50%);
  --color-secondary: hsl(0, 0%, 100%);
}

@theme {
  --font-metal: "Burn The Witch", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@font-face {
  font-family: "Burn The Witch";
  src: url("/assets/fonts/BurnTheWitch.ttf") format("truetype");
}
