@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Burn The Witch";
  src: url("assets/fonts/BurnTheWitch.ttf") format("truetype");
}
